<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Personal Information</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].name %> :  <%= results[0][i].count %></li>
    <% } %>
    </ul>
    <h2>Question1</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].Q1 %> :  <%= results[1][i].count %></li>
    <% } %>
    </ul>
    <h2>Question2</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].Q2 %> :  <%= results[2][i].count %></li>
    <% } %>
    </ul>
    <h2>Question3</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].Q3 %> :  <%= results[3][i].count %></li>
    <% } %>
    </ul>
    <h2>Question4</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].Q4 %> :  <%= results[4][i].count %></li>
    <% } %>
    </ul>
    <h2>Question5</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].Q5 %> :  <%= results[5][i].count %></li>
    <% } %>
    </ul>
    <h2>Question6</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li><%= results[6][i].onoffswitch %> :  <%= results[6][i].count %></li>
    <% } %>
    </ul>
    <h2>Comments</h2>
    <ul>
    <% for (var i=0; i<results[7].length; i++){ %>
        <li><%= results[7][i].comments %> :  <%= results[7][i].count %></li>
    <% } %>
    </ul>
</body>
</html>
